main {
  h2 {
    font-size: 1.6rem;
  }

  ul {
    list-style: none;
    text-align: center;
    margin-top: 30px;

    & > li {
      padding: 5px 10px;
      cursor: pointer;
      transition: 0.5s;

      &:hover {
        background-color: rgba(221, 221, 221, 0.61);
      }

      span {
        font-weight: bold;
      }

      ol {
        width: 40%;
        margin: 5px auto;
      }
    }
  }
}
